* {
    margin: 0;
    padding: 0;


}

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}

canvas:focus {
    outline: none;
}

.graph_pro {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 15;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid  #C5CCE0;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #DEEDFF 98%);
    border-radius: 0px;
    display: none;
}

.slide_content:hover {
    cursor: pointer;
}

.R_menu,.R_menu_ {
    width: 132px;
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 100;
    background: #FFFFFF;
			/*box-shadow: 0 0 8px 0 #CCCCCC;*/
}

.R_menu li ,.R_menu_ li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #EBEBEB;
    padding-left: 4px;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
}

.R_menu li:hover,.R_menu_ li:hover {
    background: #F9FCFF;
    box-shadow: 0 0 8px 0 #CCCCCC;
    color: #167CF3;
}

#menu,.R_menu_ {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
		    /**/
}

.loading_box {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.loading {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%,-50%);
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background: #fff;
}

#myDiagramDiv {
			/*z-index: 100;*/
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

#progress {
    position: fixed;
    top: 0;
    left: -6px;
    width: 0%;
    height: 2px;
    background: red;
    z-index: 1000;
}

#progress:before,
			#progress:after {
    content: "";
    position: absolute;
    height: 2px;
    opacity: 0.6;
    box-shadow: red 1px 0 6px 1px;
    border-radius: 100%;
}

#progress:before {
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}

#progress:after {
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

.webgl_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

#graph-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0px;
    opacity: 0
}

.graph-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.graph-selection-indicator {
    position: absolute;
    background: transparent;
    border: 1px solid orange;
}

.entity_toast {
    padding: 5px 10px;
    background: #000;
    opacity: 0.6;
    position: fixed;
    z-index: 12;
    color: #fff;
    border-radius: 5px;
    display: none;
}

#log {
    color: deepskyblue;
    font-size: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.node-label,.link-label {
                  position: absolute;
                  pointer-events: none;
                  color: white;
                  z-index: 10;
                  color: #000;
                  font-size: 8px;
                  
        }
        .node-label{
            transform: scale(1.4);
        }
        .link-label{
            transform: scale(1.2);
            color: #333;
        }
        .test_box{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            z-index: 14;
            background: #fff;
            border-right: 1px solid #ccc;
        }
        .test_box button{
            /*width: 100px;*/
            border: 0.5px solid #ccc;
            /*display: block;*/
            background: #fff;
            padding: 3px 5px;
            margin: 1px 0px;
            text-align: start;

        }
        .message_{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 600px;
            height: 400px;
        }